<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8"><form method="post">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    </head>

    <body>

    {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}
<main>
   <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="../../assets/img/pages/form-image.jpg" style="https://source.unsplash.com/random/1920x1280">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
               <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                  <div class="text-center text-md-center mb-4 mt-md-0">
                     <h1 class="mb-0 h3">Sign in to our platform</h1>
                    </div>
                  <form action="#" class="mt-4">
                     <div class="form-group mb-4">
                        <label for="email">Your Email</label>
                        <div class="input-group"><span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span> <input type="email" value="{{ last_username }}" class="form-control" placeholder="example@company.com" id="inputEmail" autocomplete="email" required autofocus></div>
                     </div>
                     <div class="form-group">
                        <div class="form-group mb-4">
                           <label for="password">Your Password</label>
                           <div class="input-group"><span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span> <input type="password" placeholder="Password" class="form-control" id="inputPassword" autocomplete="current-password" required=""></div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                           <div class="form-check mb-0"><input class="form-check-input" type="checkbox" value="" id="remember"> <label class="form-check-label mb-0" for="remember">Remember me</label></div>
                           <div><a href="#" class="small text-right">Lost password?</a></div>
                        </div>
                     </div>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                     <div class="d-grid"><button type="submit" class="btn btn-primary">Sign in</button></div>
                  </form>
                  <div class="mt-3 mb-4 text-center"><span class="fw-normal">or login with</span></div>
                  <div class="btn-wrapper my-4 text-center"><a href="#" class="btn btn-icon-only btn-pill btn-outline-gray-300 text-facebook me-2" aria-label="facebook button" title="facebook button"><span aria-hidden="true" class="fab fa-facebook-f"></span> </a><a href="#" class="btn btn-icon-only btn-pill btn-outline-gray-300 text-twitter me-2" aria-label="twitter button" title="twitter button"><span aria-hidden="true" class="fab fa-twitter"></span> </a><a href="#" class="btn btn-icon-only btn-pill btn-outline-gray-300 text-facebook" aria-label="github button" title="github button"><span aria-hidden="true" class="fab fa-github"></span></a></div>
                  <div class="d-flex justify-content-center align-items-center mt-4"><span class="fw-normal">Not registered? <a href="./sign-up.html" class="fw-bold text-underline">Create account</a></span></div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
        {% block javascripts %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </body>

<html>
