      {% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>

<main>
   <section class="section section-header pb-11 bg-primary text-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
               <h1 class="display-2 mb-3">Contactez - Nous</h1>
               <p class="lead">Vous pourrez nous envoyer une message via le formulaire ci-dessous.</p>
            </div>
         </div>
      </div>
   </section>
   <div class="section py-0">
      <div class="container mt-n10">
         <div class="row">
            <div class="col-12"><iframe class="map rounded" id="gmap_canvas" src="https://maps.google.com/maps?q=san%20francisco&amp;t=&amp;z=8&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe></div>
         </div>
      </div>
   </div>
   <section class="section section-lg pt-6">
      <div class="container">
         <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-12 col-lg-8">
               <div class="card border-0 p-2 p-md-3 p-lg-5">
                  <div class="card-header bg-white border-0 text-center">
                     <h2>Me contacter</h2>
                     <p>Une Question ? Une informations ... n'hésitez pas à me contacter.</p>
                  </div>

                  {{ form_start(form) }}
                  {% for message in app.flashes('success')%}
                     <div class="alert alert-success" >
                        {{ message }}
                     </div>
                  {% endfor %}

                  {% for errors in app.flashes('errors')%}
                     <div class="alert alert-danger" >
                        {{ errors }}
                     </div>
                  {% endfor %}

                  <div class="card-body px-0 pt-0">
                     <div class="mb-4">
                        <label for="name">{{ form_label(form.nom) }}</label>
                        <div class="input-group"><span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'John', 'required': ''} }) }}</div>
                     </div>
                     <div class="mb-4">
                        <label for="email">{{ form_label(form.email) }}</label>
                        <div class="input-group"><span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'example@company.com', 'required': ''} }) }}</div>
                     </div>
                     <div class="mb-4"><label for="message">{{ form_label(form.message) }}</label> {{ form_widget(form.message, { 'attr': {'class': 'form-control', 'placeholder': 'Votre Message', 'required': '', 'rows': 4} }) }}</div>
                     <div class="d-grid">{{ form_widget(form.Envoyer, { 'attr': {'class': 'btn rounded btn-secondary', 'type':'submit'} }) }}</div>
                  </div>

                  {{ form_end(form) }}

               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-center mb-5">
               <h2>Notre Equipe</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
               <div class="card border-0 text-center">
                  <div class="card-header border-0 bg-white"><center><img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0" alt="Christopher Avatar"></center></div>
                  <div class="card-body text-center ">
                     <span class="card-subtitle  text-center text-gray fw-normal">Fondateur / CTO</span>
                     <h3 class="h4 card-title  text-center mt-2">Mehdi FAHIM</h3>
                     <ul class="list-unstyled d-flex justify-content-center mt-3">
                        <li><a href="#" target="_blank" aria-label="facebook social link" class="icon icon-sm icon-facebook me-3"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#" target="_blank" aria-label="twitter social link" class="icon icon-sm icon-twitter me-3"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#" target="_blank" aria-label="slack social link" class="icon icon-sm icon-slack me-3"><span class="fab fa-slack-hash"></span></a></li>
                        <li><a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-sm icon-dribbble me-3"><span class="fab fa-dribbble"></span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
</body>

{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}