{% block body %}
<section class="section section-lg pt-0">
    <div class="container mt-n8 mt-lg-n10 z-2">
        <div class="row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="card bg-white shadow border-gray-300 p-4">
                <div class="card-body p-3">
                    <div class="icon icon-lg icon-primary justify-content-start mb-3"><span class="fas fa-award"></span></div>
                    <h4 class="mb-4">Authenticity</h4>
                    <p>We pour our soul into everything we do and take pride of ourselves and visions. That’s why we create things in our own way.</p>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="card bg-white shadow border-gray-300 p-4">
                <div class="card-body p-3">
                    <div class="icon icon-lg icon-primary justify-content-start mb-3"><span class="fab fa-leanpub"></span></div>
                    <h4 class="mb-4">Credibility</h4>
                    <p>We respect the trust our partners place in us and take the responsibility of meeting the impression created in their minds.</p>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-white shadow border-gray-300 p-4">
                <div class="card-body p-3">
                    <div class="icon icon-lg icon-primary justify-content-start mb-3"><span class="fas fa-glasses"></span></div>
                    <h4 class="mb-4">Transparency</h4>
                    <p>No barriers. We work closely with our partners to create projects of value. When issues arise, we address it together and talk freely.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}