{% block body %}
<section class="section-header pb-9 pb-lg-10 mb-4 mb-lg-6 bg-primary text-white">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-7">
                <h1 class="display-1 font-weight-extreme mb-4">Join our team</h1>
                <p class="lead mb-4 mb-lg-5 me-lg-5">We are a team of strategic thinkers and storytellers who create content that cuts through the noise. We’re here to produce work that makes an impact.</p>
                <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>
            </div>
            <div class="col-12 col-md-5 d-none d-lg-block text-center"><img src="/img/grandparents.png" alt="grandparents"></div>
        </div>
    </div>
</section>
{% endblock %}