{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>
    
    {{ include ('home/carrousel_header.html.twig') }}
    {{ include ('home/card_presentation.html.twig') }}
    {{ include ('home/last_annonces.html.twig') }}
</body>


{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}
