{% block body %}
<section class="section section-lg pt-1">
<div class="container">
    <h3>Les dernières annonces</h3>
    <p>Venez consultez les dernièer annonces posté cela pourrais vous intérrésez...</p>
   <div class="row mb-5">
   {% for last_annonce in last_annonces %}
   <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <div class="card shadow">
         <div class="row g-0 align-items-center">
            <div class="col-md-4" href="{{ path('annonce_details', { 'slug': last_annonce.slug }) }}"><img  src="https://source.unsplash.com/random/200x300" class="card-img rounded-start" alt="Artist desk"></div>
            <div class="col-md-8">
               <div class="card-body">
                  <a href="{{ path('annonce_details', { 'slug': last_annonce.slug }) }}">
                     <h3 class="h5 card-title">{{ last_annonce.titre }}</h3>
                  </a>
                  <p class="card-text mb-4">{{ last_annonce.description|u.truncate(100, '...', false) }}</p>
                  <div class="d-flex justify-content-between align-items-center"><span class="card-text small"><span class="far fa-calendar-alt me-2"></span>Ajoutée le {{ last_annonce.dateCreate|date('d/m/Y') }}</span> <a href="#" class="small"><span class="far fa-comments me-2"></span>21</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
   </div>
</div>
</section>
{% endblock %}