{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>

<section class="section-header bg-primary text-white pb-10 pb-sm-8 pb-lg-11">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-md-8 text-center">
            <h1 class="display-2 mb-4">{{ categorie.nom }}</h1>
            <p class="lead">{{ categorie.description }}</p>
         </div>
      </div>
   </div>
</section>
<section class="section section-lg line-bottom-light">
   <div class="container mt-n10 mt-lg-n12 z-2">
      <div class="row">
         {% for annonce in annonces %}
         <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
            <div class="card shadow bg-white border-gray-300 p-4 rounded">
               <a href="./blog-post.html"><img src="{{ annonce.image }}" class="card-img-top rounded" alt="our desk"></a>
               <div class="card-body p-0 pt-4">
                  <a href="./blog-post.html" class="h4">{{ annonce.titre }}</a>
                  <div class="d-flex align-items-center my-3">
                     <img class="avatar avatar-sm rounded-circle" src="../../assets/img/team/profile-picture-2.jpg" alt="Neil avatar">
                     <h3 class="h6 small ms-2 mb-0">{{ annonce.userInfo.prenom }} {{ annonce.userInfo.nom }}</h3>
                  </div>
                  <p class="mb-0">{{ annonce.description|u.truncate(100, '...', false) }}</p>
               </div>
            </div>
         </div>
         {% endfor %}
         <div class="col-12">
            <div class="d-flex justify-content-center">
               <nav aria-label="Page navigation example">
                  <ul class="pagination">
                     {% do annonces.setPageRange(2) %}
                     {{ knp_pagination_render(annonces, 'annonces/pagination.html.twig') }} 
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</section>

</body>

{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}