{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>

<section class="section-header bg-primary text-white pb-10 pb-sm-8 pb-lg-11">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-md-8 text-center">
            <h1 class="display-2 mb-4">Our Blog</h1>
            <p class="lead">We help you get better at SEO and marketing: detailed tutorials, case studies and opinion pieces from marketing practitioners and industry experts alike</p>
         </div>
      </div>
   </div>
</section>
<section class="section-header text-white">
   <div class="container">
     <div class="row">
        {% for categorie in categories %}
            {% set img = categorie.annonces|last %}
            <div class="col-12 col-md-12">
                <div class="card bg-secondary text-white">
                        <div class="card-body p-5">
                            <h3 class="h4 card-title mb-3">{{ categorie.nom }}</h3>
                            <span class="card-text small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                            <p class="card-text mt-4">{{ categorie.description }}</p>
                            <div class="d-flex align-items-center">
                                <a href="{{ path('categorie_annonce', {'slug': categorie.slug}) }}" class="btn btn-tertiary btn-sm me-3">Voir la categorie</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div></div>
            {% endfor %}
        </div>
    </div>
</section>

</body>

{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}