{% block body %}
<header class="header-global">
   <nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-secondary mb-4">
    <div class="container position-relative">
        <a class="navbar-brand me-lg-3" href="#">
            <img class="navbar-brand-dark" src="../../assets/brand/light.svg" alt="menuimage">
            <img class="navbar-brand-light" src="../../assets/brand/dark.svg" alt="menuimage">
        </a>
        <div class="navbar-collapse collapse w-100" id="navbar-default-primary">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="#">
                            <img src="../../assets/img/brand/dark.svg" alt="menuimage">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <i class="fas fa-times" data-bs-toggle="collapse" role="button"
                            data-bs-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                            aria-expanded="false" aria-label="Toggle navigation"></i>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item">
                    <a href="{{ path('annonces') }}" class="nav-link">Annonces</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('profil') }}" class="nav-link">Profil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('a_propos') }}" class="nav-link">A Propos</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownPreview" role="button" data-bs-toggle="dropdown" aria-expanded="true">Categories <i class="fas fa-angle-down nav-link-arrow ms-2"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownPreview">
                     {% for categorie in categorieNavbar() %}
                        <li>
                           <a href="{{ path('categorie_annonce', {'slug': categorie.slug}) }}" class="dropdown-item">{{ categorie.nom }}</a>
                        </li>
                     {% endfor %}
                  </ul>
               </li>
                <li class="nav-item">
                    <a href="{{ path('contact') }}" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
</header>
{% endblock %}
