{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>

<section class="section-header bg-secondary text-white">
   <div class="container">
      <div class="row justify-content-between align-items-center">
         <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
            <h1 class="display-2 mb-4">Full-Service<br class="d-none d-md-inline">Digital Agency</h1>
            <p class="lead mb-4 text-muted">Themesberg can help you build a modern website, a creative logo or PWA, that will bring you customers and and stay on top of your competition.</p>
            <a href="./services.html" class="btn btn-tertiary mr-3 animate-up-2">What we do <span class="ml-2"><span class="fas fa-arrow-right"></span></span></a>
         </div>
         <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="../../assets/img/illustrations/about-illustration.svg" alt=""></div>
      </div>
   </div>
   <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
      <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
         <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
      </svg>
   </figure>
</section>
<section class="section section-md">
   <div class="container">
      <div class="row align-items-center justify-content-around">
         <div class="col-md-6 col-xl-6 mb-5"><img class="organic-radius img-fluid" src="../../assets/img/sections/about-us-1.jpg" alt="Office Desk"></div>
         <div class="col-md-6 col-xl-5 text-center text-md-left">
            <h2 class="h1 mb-5">All challenges accepted.</h2>
            <p class="lead">Themesberg is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.</p>
            <p class="lead">With a culture of collaboration, a roster of talent, and several office pooches, the Themesberg team is active in the creative community, endlessly interested in what’s next, and generally pleasant to be around.</p>
            <img src="../../assets/img/signature.svg" alt="signature" class="mt-4" width="150">
         </div>
      </div>
   </div>
</section>
</body>

{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}