{% block body %}
<section class="section-header bg-primary text-white pb-10 pb-sm-8 pb-lg-11">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-md-8 text-center">
            <h1 class="display-2 mb-4">Our Blog</h1>
            <p class="lead">We help you get better at SEO and marketing: detailed tutorials, case studies and opinion pieces from marketing practitioners and industry experts alike</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}