{% block body %}
<section class="section section-lg line-bottom-light">
   <div class="container mt-n10 mt-lg-n12 z-2">
      <div class="row">
         <div class="col-lg-12 mb-5">
            <div class="card shadow bg-white border-gray-300 flex-lg-row align-items-center g-0 p-4">
               <a href="./blog-post.html" class="col-12 col-lg-6"><img src="https://source.unsplash.com/random/530x350" alt="themesberg office" class="card-img-top rounded"></a>
               <div class="card-body d-flex flex-column justify-content-between col-auto py-4 p-0 p-lg-3 p-xl-5">
                  <a href="./blog-post.html">
                     <h2>Designing a dashboard that increases business value</h2>
                  </a>
                  <p>Today we are overwhelmed by content, and inspiration can strike anywhere. The point is to collect it and share it in a structured way to inspire your team, client, and users. In this article, I will show you how to design a dashboard.</p>
                  <div class="d-flex align-items-center mt-3">
                     <img class="avatar avatar-sm rounded-circle" src="../../assets/img/team/profile-picture-1.jpg" alt="Richard avatar">
                     <h3 class="h6 small ms-2 mb-0">Richard Thomas</h3>
                     <span class="h6 text-muted small fw-normal mb-0 ms-auto"><time datetime="2019-04-25">21 February, 2019</time></span>
                  </div>
               </div>
            </div>
         </div>
         {% for annonce in annonces %}
         <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
            <div class="card shadow bg-white border-gray-300 p-4 rounded">
               <a href="{{ path('annonce_details', { 'slug': annonce.slug }) }}"><img src="{{ annonce.image }}" class="card-img-top rounded" alt="our desk"></a>
               <div class="card-body p-0 pt-4">
                  <a href="./blog-post.html" class="h4">{{ annonce.titre }}</a>
                  <div class="d-flex align-items-center my-3">
                     <img class="avatar avatar-sm rounded-circle" src="../../assets/img/team/profile-picture-2.jpg" alt="Neil avatar">
                     <h3 class="h6 small ms-2 mb-0">{{ annonce.userInfo.prenom }} {{ annonce.userInfo.nom }}</h3>
                  </div>
                  <p class="mb-0">{{ annonce.description|u.truncate(100, '...', false) }}</p>
               </div>
            </div>
         </div>
         {% endfor %}
         <div class="col-12">
            <div class="d-flex justify-content-center">
               <nav aria-label="Page navigation example">
                  <ul class="pagination">
                     {% do annonces.setPageRange(2) %}
                     {{ knp_pagination_render(annonces, 'annonces/pagination.html.twig') }}
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}