{% extends 'base.html.twig' %}

{% block title %}Detail - {{ annonce.titre }}{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>

<main>
   <section class="section-header pb-5 pb-sm-7 bg-primary text-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-10 text-center">
                {% for categorie in annonce.categorie %}            
                   <div class="mb-4"> <a class="badge bg-warning text-uppercase px-3">{{ categorie.nom }}</a></div>
                {% endfor %}
               <h1 class="display-3 mb-4 px-lg-5">{{ annonce.titre |upper }}</h1>
               <h3 class="display-3 mb-4 px-lg-5">{{ annonce.prix }} € </h3>
               <div class="post-meta"><span class="fw-bold me-3">Créé par {{ annonce.userInfo.prenom }} {{ annonce.userInfo.nom }}</span> <span class="post-date me-3">{{ annonce.dateCreate | format_datetime(locale='fr')}}</span> </div>
            </div>
         </div>
      </div>
   </section>
   <div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
      <article class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
               <p><img class="rounded" src="{{ annonce.image }}" alt="Themesberg office"></p>
               <h2>Description</h2>
               <p>{{ annonce.description }}</p>
               <h4>{{ annonce.adresse }}, {{ annonce.ville }} {{ annonce.codePostale }}</h4>
            </div>
         </div>
         <div class="row justify-content-sm-center align-items-center py-3 mt-3">
            <div class="col-12 col-lg-8">
               <div class="row">
                  <div class="col-9 col-md-6">
                     <h6 class="fw-bolder d-inline mb-0 me-3">Share:</h6>
                     <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-twitter d-inline text-white" aria-label="twitter social link"><span class="fab fa-twitter"></span></button> <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-facebook d-inline" aria-label="facebook social link"><span class="fab fa-facebook-f"></span></button> <button class="btn btn-sm btn-icon-only btn-pill bg-orange d-inline text-white" aria-label="reddit social link"><span class="fab fa-reddit-alien"></span></button>
                  </div>
                  <div class="col-3 col-md-6 text-right"><span class="far fa-bookmark text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Bookmark story" data-bs-original-title="Bookmark story" aria-label="Bookmark story"></span></div>
               </div>
            </div>
         </div>
      </article>
   </div>
   <div class="section section-md bg-white text-black pt-0 line-bottom-light">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
               <div>
                  <label class="h5 mb-4" for="exampleFormControlTextarea1"><span class="badge badge-md bg-primary text-uppercase me-2">23</span> Comments</label> 
                  <textarea class="form-control border border-gray-300-gray" id="exampleFormControlTextarea1" placeholder="Add your comment" rows="6" data-bind-characters-target="#charactersRemaining" maxlength="1000"></textarea>
                  <div class="d-flex justify-content-between mt-3"><small class="fw-light text-dark"><span id="charactersRemaining">1000</span> characters remaining</small> <button class="btn btn-primary animate-up-2">Send</button></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

</body>

{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}