{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

{{ include ('utils/_script.html.twig') }}
{{ include ('utils/_header.html.twig') }}

<body>

   {{ include ('annonces/bloc_header.html.twig') }}
   {{ include ('annonces/card_list.html.twig') }}

</body>

{{ include ('utils/_footer.html.twig') }}

</html>
{% endblock %}